img {
    width: 480px;
    height: 480px;
}

body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.center {
    display: inline-block;
    text-align: left;
}

.width {
    width: 1000px;
}